# Weeks 7 & 8 Exercises

In [1]:
import pandas as pd

## Ch. 7 Transformations

In [2]:
# import data and view it
candy = pd.read_excel("CANDYDATA.xlsx")
candy

C:\Users\Stewart\anaconda3\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

,ITEM,JOY,DESPAIR,NET FEELIES,NET CLOUT,DESPAIR (NEG)
0,York Peppermint Patties,634,78,556.0,1.639118,-78.0
1,Whole Wheat anything,21,419,-398.0,1.012938,-419.0
2,White Bread,15,473,-458.0,1.123440,-473.0
3,Vicodin,323,210,113.0,1.227036,-210.0
4,Twix,770,26,744.0,1.832497,-26.0
...,...,...,...,...,...,...
82,Black Jacks,34,252,-218.0,0.658410,-252.0
83,Any full-sized candy bar,828,13,815.0,1.936093,-13.0
84,Anonymous brown globs that come in black and o...,120,663,-543.0,1.802569,-663.0
85,100 Grand Bar,570,34,536.0,1.390488,-34.0
86,NaN,26204,17563,NaN,NaN,NaN

##### Transformation 1: Dropping Duplicates

In [3]:
# drop duplicates
candy.drop_duplicates(inplace=True)
candy

,ITEM,JOY,DESPAIR,NET FEELIES,NET CLOUT,DESPAIR (NEG)
0,York Peppermint Patties,634,78,556.0,1.639118,-78.0
1,Whole Wheat anything,21,419,-398.0,1.012938,-419.0
2,White Bread,15,473,-458.0,1.123440,-473.0
3,Vicodin,323,210,113.0,1.227036,-210.0
4,Twix,770,26,744.0,1.832497,-26.0
...,...,...,...,...,...,...
82,Black Jacks,34,252,-218.0,0.658410,-252.0
83,Any full-sized candy bar,828,13,815.0,1.936093,-13.0
84,Anonymous brown globs that come in black and o...,120,663,-543.0,1.802569,-663.0
85,100 Grand Bar,570,34,536.0,1.390488,-34.0
86,NaN,26204,17563,NaN,NaN,NaN

##### Transformation 2: Filter Out Missing Data

In [4]:
# filter out missing data
cleaned = candy.dropna()
cleaned

,ITEM,JOY,DESPAIR,NET FEELIES,NET CLOUT,DESPAIR (NEG)
0,York Peppermint Patties,634,78,556.0,1.639118,-78.0
1,Whole Wheat anything,21,419,-398.0,1.012938,-419.0
2,White Bread,15,473,-458.0,1.123440,-473.0
3,Vicodin,323,210,113.0,1.227036,-210.0
4,Twix,770,26,744.0,1.832497,-26.0
...,...,...,...,...,...,...
81,Bonkers,31,99,-68.0,0.299277,-99.0
82,Black Jacks,34,252,-218.0,0.658410,-252.0
83,Any full-sized candy bar,828,13,815.0,1.936093,-13.0
84,Anonymous brown globs that come in black and o...,120,663,-543.0,1.802569,-663.0
85,100 Grand Bar,570,34,536.0,1.390488,-34.0

## Ch. 8 Transformations

#### Reshape Data to Long Format

In [5]:
# melt data to long format
melted = pd.melt(cleaned, ["ITEM"])
melted

                                                  ITEM       variable  value
0                              York Peppermint Patties            JOY  634.0
1                                 Whole Wheat anything            JOY   21.0
2                                          White Bread            JOY   15.0
3                                              Vicodin            JOY  323.0
4                                                 Twix            JOY  770.0
..                                                 ...            ...    ...
425                                            Bonkers  DESPAIR (NEG)  -99.0
426                                        Black Jacks  DESPAIR (NEG) -252.0
427                           Any full-sized candy bar  DESPAIR (NEG)  -13.0
428  Anonymous brown globs that come in black and o...  DESPAIR (NEG) -663.0
429                                      100 Grand Bar  DESPAIR (NEG)  -34.0

[430 rows x 3 columns]

#### Reshape Data

In [6]:
# stack data
hierarchy = cleaned.stack()
hierarchy

0   ITEM             York Peppermint Patties
    JOY                                  634
    DESPAIR                               78
    NET FEELIES                        556.0
    NET CLOUT                       1.639118
                              ...
85  JOY                                  570
    DESPAIR                               34
    NET FEELIES                        536.0
    NET CLOUT                       1.390488
    DESPAIR (NEG)                      -34.0
Length: 516, dtype: object

## Chapter 10 Transformations

##### Split/Apply/Combine

In [7]:
# find top net feelies
def find_max(df, n=5, column="NET FEELIES"):
    return df.sort_values(by=column)[-n:]

In [8]:
# find top feelies according to item
cleaned.groupby("NET FEELIES").apply(find_max)

                                                             ITEM  JOY  \
NET FEELIES
-592.0      73  Candy that is clearly just the stuff given out...   29
-565.0      77                                  Broken glow stick   14
-543.0      67                                Dental paraphenalia   43
            84  Anonymous brown globs that come in black and o...  120
-538.0      79                                     Box’o’ Raisins   47
...                                                           ...  ...
 712.0      13                                           Snickers  739
 744.0      4                                                Twix  770
 815.0      83                           Any full-sized candy bar  828
 879.0      47                                            Kit Kat  894
 936.0      23                         Reese’s Peanut Butter Cups  983

                DESPAIR  NET FEELIES  NET CLOUT  DESPAIR (NEG)
NET FEELIES
-592.0      73      621       -592.0   1.496386         -621.0
-565.0      77      579       -565.0   1.365164         -579.0
-543.0      67      586       -543.0   1.448041         -586.0
            84      663       -543.0   1.802569         -663.0
-538.0      79      585       -538.0   1.454947         -585.0
...                 ...          ...        ...            ...
 712.0      13       27        712.0   1.763433          -27.0
 744.0      4        26        744.0   1.832497          -26.0
 815.0      83       13        815.0   1.936093          -13.0
 879.0      47       15        879.0   2.092638          -15.0
 936.0      23       47        936.0   2.371196          -47.0

[86 rows x 6 columns]

#### Cross Tab

In [11]:
# load candy survey in full
candy2 = pd.read_csv("candyhierarchy2017(1).csv", encoding ="iso-8859-1")
candy2

,Internal ID,Q1: GOING OUT?,Q2: GENDER,Q3: AGE,Q4: COUNTRY,"Q5: STATE, PROVINCE, COUNTY, ETC",Q6 | 100 Grand Bar,Q6 | Anonymous brown globs that come in black and orange wrappers\t(a.k.a. Mary Janes),Q6 | Any full-sized candy bar,Q6 | Black Jacks,...,Q8: DESPAIR OTHER,Q9: OTHER COMMENTS,Q10: DRESS,Unnamed: 113,Q11: DAY,Q12: MEDIA [Daily Dish],Q12: MEDIA [Science],Q12: MEDIA [ESPN],Q12: MEDIA [Yahoo],"Click Coordinates (x, y)"
0,90258773,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,90272821,No,Male,44,USA,NM,MEH,DESPAIR,JOY,MEH,...,NaN,Bottom line is Twix is really the only candy w...,White and gold,NaN,Sunday,NaN,1.0,NaN,NaN,"(84, 25)"
2,90272829,NaN,Male,49,USA,Virginia,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,90272840,No,Male,40,us,or,MEH,DESPAIR,JOY,MEH,...,NaN,Raisins can go to hell,White and gold,NaN,Sunday,NaN,1.0,NaN,NaN,"(75, 23)"
4,90272841,No,Male,23,usa,exton pa,JOY,DESPAIR,JOY,DESPAIR,...,NaN,NaN,White and gold,NaN,Friday,NaN,1.0,NaN,NaN,"(70, 10)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2455,90314359,No,Male,24,USA,MD,JOY,DESPAIR,MEH,DESPAIR,...,Fruit Stripe Gum,NaN,White and gold,NaN,Friday,NaN,NaN,NaN,NaN,NaN
2456,90314580,No,Female,33,USA,New York,MEH,DESPAIR,JOY,NaN,...,Capers,NaN,Blue and black,NaN,Friday,NaN,1.0,NaN,NaN,"(70, 26)"
2457,90314634,No,Female,26,USA,Tennessee,MEH,DESPAIR,JOY,DESPAIR,...,NaN,NaN,Blue and black,NaN,Friday,NaN,1.0,NaN,NaN,"(67, 35)"
2458,90314658,No,Male,58,Usa,North Carolina,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2459,90314802,No,Female,66,usa,Pennsylvania,DESPAIR,DESPAIR,JOY,DESPAIR,...,NaN,"You hit all my chocolate highlights, and broug...",White and gold,NaN,Sunday,1.0,NaN,NaN,NaN,"(19, 26)"

In [10]:
# crosstab gender with 100 Grand Bar
pd.crosstab(candy2["Q2: GENDER"], candy2["Q6 | 100 Grand Bar"])

Q6 | 100 Grand Bar  DESPAIR  JOY  MEH
Q2: GENDER
Female                   39  265  279
I'd rather not say        3   33   24
Male                     41  564  436
Other                     2    8   12

## Chapter 11 Transformations

#### Generate Date Range

In [18]:
candy2015 = pd.read_excel("CANDY-HIERARCHY-2015-SURVEY-Responses.xlsx")
candy2015

,Timestamp,How old are you?,Are you going actually going trick or treating yourself?,[Butterfinger],[100 Grand Bar],[Anonymous brown globs that come in black and orange wrappers],[Any full-sized candy bar],[Black Jacks],[Bonkers],[Bottle Caps],...,[Necco Wafers],"Which day do you prefer, Friday or Sunday?",Please estimate the degrees of separation you have from the following folks [Bruce Lee],Please estimate the degrees of separation you have from the following folks [JK Rowling],Please estimate the degrees of separation you have from the following folks [Malala Yousafzai],Please estimate the degrees of separation you have from the following folks [Thom Yorke],Please estimate the degrees of separation you have from the following folks [JJ Abrams],Please estimate the degrees of separation you have from the following folks [Hillary Clinton],Please estimate the degrees of separation you have from the following folks [Donald Trump],Please estimate the degrees of separation you have from the following folks [Beyoncé Knowles]
0,2015-10-23 08:46:20.451,35.0,No,JOY,NaN,DESPAIR,JOY,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2015-10-23 08:46:51.583,41.0,No,JOY,JOY,DESPAIR,JOY,DESPAIR,DESPAIR,JOY,...,DESPAIR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2015-10-23 08:47:34.285,33.0,No,DESPAIR,DESPAIR,DESPAIR,JOY,DESPAIR,DESPAIR,DESPAIR,...,DESPAIR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2015-10-23 08:47:58.964,31.0,No,JOY,JOY,DESPAIR,JOY,DESPAIR,DESPAIR,JOY,...,DESPAIR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2015-10-23 08:48:11.719,30.0,No,NaN,JOY,DESPAIR,JOY,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5625,2015-10-31 05:23:40.526,50.0,No,DESPAIR,DESPAIR,DESPAIR,JOY,DESPAIR,DESPAIR,JOY,...,DESPAIR,Friday,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5626,2015-10-31 05:29:26.937,43.0,No,JOY,JOY,DESPAIR,JOY,DESPAIR,DESPAIR,DESPAIR,...,DESPAIR,Sunday,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5627,2015-10-31 06:13:29.083,35.0,Yes,NaN,JOY,DESPAIR,JOY,NaN,NaN,DESPAIR,...,NaN,Friday,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5628,2015-10-31 06:26:52.566,38.0,No,JOY,JOY,JOY,JOY,JOY,JOY,JOY,...,JOY,Sunday,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5629,2015-10-31 06:41:31.904,44.0,No,DESPAIR,JOY,DESPAIR,JOY,DESPAIR,DESPAIR,JOY,...,JOY,Friday,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
# generate data range 
half_week = pd.date_range("2015-10-23", "2015-10-26")
half_week

DatetimeIndex(['2015-10-23', '2015-10-24', '2015-10-25', '2015-10-26'], dtype='datetime64[ns]', freq='D')

#### Period Frequency Conversion

In [19]:
candy2016 = pd.read_excel("BOING-BOING-CANDY-HIERARCHY-2016-SURVEY-Responses.xlsx")
candy2016

,Timestamp,Are you going actually going trick or treating yourself?,Your gender:,How old are you?,Which country do you live in?,"Which state, province, county do you live in?",[100 Grand Bar],[Anonymous brown globs that come in black and orange wrappers],[Any full-sized candy bar],[Black Jacks],...,Please estimate the degree(s) of separation you have from the following celebrities [JK Rowling],Please estimate the degree(s) of separation you have from the following celebrities [JJ Abrams],Please estimate the degree(s) of separation you have from the following celebrities [Beyoncé],Please estimate the degree(s) of separation you have from the following celebrities [Bieber],Please estimate the degree(s) of separation you have from the following celebrities [Kevin Bacon],Please estimate the degree(s) of separation you have from the following celebrities [Francis Bacon (1561 - 1626)],"Which day do you prefer, Friday or Sunday?","Do you eat apples the correct way, East to West (side to side) or do you eat them like a freak of nature, South to North (bottom to top)?","When you see the above image of the 4 different websites, which one would you most likely check out (please be honest).",[York Peppermint Patties] Ignore
0,2016-10-24 05:09:23.033,No,Male,22.0,Canada,Ontario,JOY,DESPAIR,JOY,MEH,...,3 or higher,2.0,3 or higher,3 or higher,3 or higher,3 or higher,Friday,South to North,Science: Latest News and Headlines,NaN
1,2016-10-24 05:09:54.798,No,Male,45.0,usa,il,MEH,MEH,JOY,JOY,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Friday,East to West,Science: Latest News and Headlines,NaN
2,2016-10-24 05:13:06.734,No,Female,48.0,US,Colorado,JOY,DESPAIR,JOY,MEH,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Sunday,East to West,Science: Latest News and Headlines,NaN
3,2016-10-24 05:14:17.192,No,Male,57.0,usa,il,JOY,MEH,JOY,MEH,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Sunday,South to North,Science: Latest News and Headlines,NaN
4,2016-10-24 05:14:24.625,Yes,Male,42.0,USA,South Dakota,MEH,DESPAIR,JOY,DESPAIR,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Friday,East to West,ESPN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2016-10-29 16:53:52.516,No,Female,52.0,USA,TX,JOY,DESPAIR,JOY,MEH,...,3 or higher,3 or higher,3 or higher,3 or higher,2.0,3 or higher,Friday,East to West,Science: Latest News and Headlines,NaN
1255,2016-10-30 06:53:54.735,No,Male,33.0,united states,minnesota,JOY,DESPAIR,JOY,DESPAIR,...,"Actually, that's me.",3 or higher,3 or higher,3 or higher,3 or higher,"Actually, that's me.",Friday,Sinusoidally around the equator,Science: Latest News and Headlines,NaN
1256,2016-10-30 11:06:10.827,No,Male,NaN,NaN,NaN,JOY,MEH,JOY,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Sunday,nne to east to nnw to s to n,Science: Latest News and Headlines,NaN
1257,2016-10-30 16:07:26.539,No,Male,48.0,canada,BC,NaN,DESPAIR,JOY,DESPAIR,...,1.0,2.0,3 or higher,3 or higher,2.0,3 or higher,Sunday,East to West,Science: Latest News and Headlines,NaN
1258,2016-10-30 17:06:45.660,Yes,Female,44.0,Us,Nh,JOY,MEH,JOY,JOY,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Sunday,East to West,Daily Dish,NaN

In [25]:
# create time period for october as hours
period = pd.Period("2016-10", "H")

Period('2016-10-01 00:00', 'H')

In [30]:
# convert period to minutely frequency
period.asfreq("T")

Period('2016-10-01 00:59', 'T')