# Weeks 11 & 12 Exercises

In [8]:
import sqlite3

In [9]:
conn = sqlite3.connect("petsdb")

In [10]:
# is connection successfuL?
def check_connection(conn):
    try:
        conn.execute("SELECT * FROM persons LIMIT 1")
        return True
    except sqlite3.ProgrammingError as e:
        print(f"Connection closed {e}")
        return False

In [11]:
print(check_connection(conn))

True

In [12]:
cursor = conn.cursor()

In [31]:
# different age groups in db
for ppl, age in cursor.execute("SELECT count(*), age FROM persons GROUP BY age"):
    print(f"Number of people aged {age}: {ppl}")

Number of people aged 5: 2
Number of people aged 6: 1
Number of people aged 7: 1
Number of people aged 8: 3
Number of people aged 9: 1
Number of people aged 11: 2
Number of people aged 12: 3
Number of people aged 13: 1
Number of people aged 14: 4
Number of people aged 16: 2
Number of people aged 17: 2
Number of people aged 18: 3
Number of people aged 19: 1
Number of people aged 22: 3
Number of people aged 23: 2
Number of people aged 24: 3
Number of people aged 25: 2
Number of people aged 27: 1
Number of people aged 30: 1
Number of people aged 31: 3
Number of people aged 32: 1
Number of people aged 33: 1
Number of people aged 34: 2
Number of people aged 35: 3
Number of people aged 36: 3
Number of people aged 37: 1
Number of people aged 39: 2
Number of people aged 40: 1
Number of people aged 42: 1
Number of people aged 44: 2
Number of people aged 48: 2
Number of people aged 49: 1
Number of people aged 50: 1
Number of people aged 51: 2
Number of people aged 52: 2
Number of people aged 53: 2
Number of people aged 54: 2
Number of people aged 58: 1
Number of people aged 59: 1
Number of people aged 60: 1
Number of people aged 61: 1
Number of people aged 62: 2
Number of people aged 63: 1
Number of people aged 65: 2
Number of people aged 66: 2
Number of people aged 67: 1
Number of people aged 68: 3
Number of people aged 69: 1
Number of people aged 70: 1
Number of people aged 71: 4
Number of people aged 72: 1
Number of people aged 73: 5
Number of people aged 74: 3

In [33]:
# age group with max number of people
for ppl, age in cursor.execute("SELECT count(*), age FROM persons GROUP BY age ORDER BY count(*) DESC"):
    print(f"Highest number of people {ppl} from {age} age group")
    break

Highest number of people 5 from 73 age group

In [34]:
# who doesn't have last name
for row in cursor.execute("SELECT count(*) FROM persons WHERE last_name IS null"):
    print(row)

(60,)

In [36]:
# Who has more than one pet
for row in cursor.execute("SELECT count(*) FROM (SELECT count(owner_id) FROM pets GROUP BY owner_id HAVING count(owner_id) > 1)"):
    print(f"{row} People has more than one pets")

(43,) People has more than one pets

In [38]:
# how many received treatment
for row in cursor.execute("SELECT count(*) FROM pets WHERE treatment_done=1"):
    print(row)

(36,)

In [40]:
# how many received treatment and pet type known
for row in cursor.execute("SELECT count(*) FROM pets WHERE treatment_done=1 AND pet_type IS NOT null"):
    print(row)

(16,)

In [42]:
# how many from east port
for row in cursor.execute("SELECT count(*) FROM pets JOIN persons on pets.owner_id = persons.id WHERE persons.city='east port'"):
    print(row)

(49,)

In [43]:
# how many from east port that received treatment
for row in cursor.execute("SELECT count(*) FROM pets JOIN persons on pets.owner_id = persons.id WHERE persons.city='east port' AND pets.treatment_done=1"):
    print(row)

(11,)