# Weeks 7 & 8 Exercises

In [25]:
import pandas as pd

## Ch. 7 Transformations

In [26]:
# import data and view it
candy = pd.read_excel("CANDYDATA.xlsx")
candy

C:\Users\stewa\anaconda3\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

,ITEM,JOY,DESPAIR,NET FEELIES,NET CLOUT,DESPAIR (NEG)
0,York Peppermint Patties,634,78,556.0,1.639118,-78.0
1,Whole Wheat anything,21,419,-398.0,1.012938,-419.0
2,White Bread,15,473,-458.0,1.123440,-473.0
3,Vicodin,323,210,113.0,1.227036,-210.0
4,Twix,770,26,744.0,1.832497,-26.0
...,...,...,...,...,...,...
82,Black Jacks,34,252,-218.0,0.658410,-252.0
83,Any full-sized candy bar,828,13,815.0,1.936093,-13.0
84,Anonymous brown globs that come in black and o...,120,663,-543.0,1.802569,-663.0
85,100 Grand Bar,570,34,536.0,1.390488,-34.0
86,NaN,26204,17563,NaN,NaN,NaN

##### Transformation 1: Dropping Duplicates

In [27]:
# drop duplicates
candy.drop_duplicates(inplace=True)
candy

,ITEM,JOY,DESPAIR,NET FEELIES,NET CLOUT,DESPAIR (NEG)
0,York Peppermint Patties,634,78,556.0,1.639118,-78.0
1,Whole Wheat anything,21,419,-398.0,1.012938,-419.0
2,White Bread,15,473,-458.0,1.123440,-473.0
3,Vicodin,323,210,113.0,1.227036,-210.0
4,Twix,770,26,744.0,1.832497,-26.0
...,...,...,...,...,...,...
82,Black Jacks,34,252,-218.0,0.658410,-252.0
83,Any full-sized candy bar,828,13,815.0,1.936093,-13.0
84,Anonymous brown globs that come in black and o...,120,663,-543.0,1.802569,-663.0
85,100 Grand Bar,570,34,536.0,1.390488,-34.0
86,NaN,26204,17563,NaN,NaN,NaN

##### Transformation 2: Filter Out Missing Data

In [28]:
# filter out missing data
cleaned = candy.dropna()
cleaned

,ITEM,JOY,DESPAIR,NET FEELIES,NET CLOUT,DESPAIR (NEG)
0,York Peppermint Patties,634,78,556.0,1.639118,-78.0
1,Whole Wheat anything,21,419,-398.0,1.012938,-419.0
2,White Bread,15,473,-458.0,1.123440,-473.0
3,Vicodin,323,210,113.0,1.227036,-210.0
4,Twix,770,26,744.0,1.832497,-26.0
...,...,...,...,...,...,...
81,Bonkers,31,99,-68.0,0.299277,-99.0
82,Black Jacks,34,252,-218.0,0.658410,-252.0
83,Any full-sized candy bar,828,13,815.0,1.936093,-13.0
84,Anonymous brown globs that come in black and o...,120,663,-543.0,1.802569,-663.0
85,100 Grand Bar,570,34,536.0,1.390488,-34.0

## Ch. 8 Transformations

#### Reshape Data to Long Format

In [29]:
# melt data to long format
melted = pd.melt(cleaned, ["ITEM"])
melted

                                                  ITEM       variable  value
0                              York Peppermint Patties            JOY  634.0
1                                 Whole Wheat anything            JOY   21.0
2                                          White Bread            JOY   15.0
3                                              Vicodin            JOY  323.0
4                                                 Twix            JOY  770.0
..                                                 ...            ...    ...
425                                            Bonkers  DESPAIR (NEG)  -99.0
426                                        Black Jacks  DESPAIR (NEG) -252.0
427                           Any full-sized candy bar  DESPAIR (NEG)  -13.0
428  Anonymous brown globs that come in black and o...  DESPAIR (NEG) -663.0
429                                      100 Grand Bar  DESPAIR (NEG)  -34.0

[430 rows x 3 columns]

#### Reshape Data

In [30]:
# stack data
hierarchy = cleaned.stack()
hierarchy

0   ITEM             York Peppermint Patties
    JOY                                  634
    DESPAIR                               78
    NET FEELIES                        556.0
    NET CLOUT                       1.639118
                              ...
85  JOY                                  570
    DESPAIR                               34
    NET FEELIES                        536.0
    NET CLOUT                       1.390488
    DESPAIR (NEG)                      -34.0
Length: 516, dtype: object

## Chapter 10 Transformations

##### Split/Apply/Combine

In [35]:
# find top net feelies
def find_max(df, n=5, column="NET FEELIES"):
    return df.sort_values(by=column)[-n:]

In [36]:
# find top feelies according to item
cleaned.groupby("NET FEELIES").apply(find_max)

                                                             ITEM  JOY  \
NET FEELIES
-592.0      73  Candy that is clearly just the stuff given out...   29
-565.0      77                                  Broken glow stick   14
-543.0      67                                Dental paraphenalia   43
            84  Anonymous brown globs that come in black and o...  120
-538.0      79                                     Box’o’ Raisins   47
...                                                           ...  ...
 712.0      13                                           Snickers  739
 744.0      4                                                Twix  770
 815.0      83                           Any full-sized candy bar  828
 879.0      47                                            Kit Kat  894
 936.0      23                         Reese’s Peanut Butter Cups  983

                DESPAIR  NET FEELIES  NET CLOUT  DESPAIR (NEG)
NET FEELIES
-592.0      73      621       -592.0   1.496386         -621.0
-565.0      77      579       -565.0   1.365164         -579.0
-543.0      67      586       -543.0   1.448041         -586.0
            84      663       -543.0   1.802569         -663.0
-538.0      79      585       -538.0   1.454947         -585.0
...                 ...          ...        ...            ...
 712.0      13       27        712.0   1.763433          -27.0
 744.0      4        26        744.0   1.832497          -26.0
 815.0      83       13        815.0   1.936093          -13.0
 879.0      47       15        879.0   2.092638          -15.0
 936.0      23       47        936.0   2.371196          -47.0

[86 rows x 6 columns]

#### Cross Tab

In [ ]:
# load candy survey in full
candy2 = pd.read_csv("candyhierarchy2017(1).csv", encoding ="iso-8859-1")

In [ ]:
# crosstab gender with 100 Grand Bar
pd.crosstab(candy2["Q2: GENDER"], candy2["Q6 | 100 Grand Bar"])

## Chapter 11 Transformations